@model IEnumerable<EduCore.Models.Trainee>

@{
	ViewData["Title"] = "ShowAll";
}

<h1>Add & Remove Trainees</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Address)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Grade)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Department)
			</th>
			<th>
				Action
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(model => item.Name)
				</td>
				<td>
					@Html.DisplayFor(model => item.Address)
				</td>
				<td>
					@Html.DisplayFor(model => item.Grade)
				</td>
				<td>
					@Html.DisplayFor(model => item.Department.Name)
				</td>

				@if (item.CrsResults.Any(c => c.CourseId == ViewBag.CourseId))
				{
					<td>
						<a asp-action="RemoveTrainee" asp-route-crsResultId="@item.CrsResults.First(c => c.CourseId == ViewBag.CourseId).Id" class="btn btn-danger">Remove Trainee</a>|
						<a asp-action="EditDegree"    asp-route-crsResultId="@item.CrsResults.First(c => c.CourseId == ViewBag.CourseId).Id" asp-route-traineeId="@item.Id" asp-route-courseId="@ViewBag.CourseId" class="btn btn-warning">Edit Degree</a>
					</td>
				}
				else
				{
					<td>
						<a asp-action="AddTrainee" asp-route-traineeId="@item.Id" asp-route-courseId="@ViewBag.CourseId" class="btn btn-primary">Add Trainee</a>
					</td>
				}
			</tr>
		}
	</tbody>
</table>

<div>
	<a asp-action="ShowAll" class="btn btn-secondary">Back to List</a>
</div>
